# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc_flags.json

# VS Code
.vscode/.browse.c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch/

# Outros
*.pyc
.DS_Store